@import '../../styles/shared.scss';

.trending {
  display: grid;
  grid: auto / auto;
  padding-left: 10rem;
  padding-top: 24px;
  margin-left: $sidebar-left-width;
  grid-row-gap: 10px;
  max-width: 900px;
}

@media(max-width: 1200px) {
  .trending {
    padding-left: 10px;
  }
}