.ui.menu.top-menu {
    border: none;
    .logo {
        width: 17rem;
    }

    .header-icon {
        color: #a0a0a0;
    }
}

.nav-container {
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
}

.search-input {
    padding-left: 0;
    width: 33%;

    form {
        width: 100%
    }
}