@import '../../styles/shared.scss';

.ui.menu.fixed.side-nav {
    background-color: #f5f5f5;
    margin-top: $header-nav-height;
    padding-bottom: $header-nav-height;
    overflow-y: auto;
  
    .sidebar-item:hover {
      background: #ebebeb;
    }
  }
  
  .side-nav.ui.vertical.menu {
    width: 17rem;
  }